.brdcrumb {
  margin-top: 1rem;
  max-width: 1274px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.product-slider-info {
  margin-top: 22px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  .product-slider {
    .owl-carousel {
      z-index: 0;
    }
    position: relative;
    background-color: #f0f0f0;
    width: 43%;
    height: 415px;
    display: flex;
    align-items: center;
    img {
      width: 77%;
      margin: auto;
      height: 100%;
      object-fit: contain;
    }
    .owl-dots {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 0 !important;
      height: 100%;
      width: 10px;
      button {
        outline: none;
        right: 20px;
        position: absolute;
        span {
          width: 2px;
          height: 18px;
        }
      }
      button:nth-child(1) {
        top: 35%;
      }
      button:nth-child(2) {
        top: 45%;
      }
      button:nth-child(3) {
        top: 55%;
      }
    }
    svg {
      position: absolute;
      right: 10px;
      bottom: 13px;
      cursor: pointer;
    }
  }
  .product-info {
    padding-left: 45px;
    .title-span {
      background-color: #b2b2b2;
      padding: 3px 8px;
      color: #fff;
      font: 13px SourceSansProSemiBold;
      text-transform: uppercase;
    }
    a {
      margin-right: 32%;
      .share-span {
        color: #3b3b3b;
        font: 14px ProximaNovaSemiBold;
        line-height: 18px;
      }
    }

    .product-details {
      h1 {
        color: #3b3b3b;
        font: 30px HoeflerTextBlack;
        margin-top: 15px;
      }
      p {
        margin-bottom: 0;
        font: 14px ProximaNovaRegular;
        color: #2a2a2a;
      }
      .firstchild {
        max-width: 67%;
        line-height: 21px;
        margin-bottom: 12px;
      }
      .product-height,
      .product-width,
      .product-depth {
        margin-bottom: 2px;
      }
      .color-bar {
        margin-top: 7px;
        justify-content: start !important;
      }

      .product-delivery {
        margin-top: 28px;
        font: 14px ProximaNovaSemiBold;
        color: #3b3b3b;
        margin-bottom: 9px;
      }
      .content-btns {
        display: flex;
        .fav-btn {
          background-color: #bfcdd3;
          margin-right: 5px;
        }
        .fav-btn:hover{
          background-color: #ed222a;
        }
        .chart-button {
          background-color: #91c81a;
          font-family: ProximaNovaRegular;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          img{
            margin-right: 5px;
          }
        }
        button {
          transition: all 0.3s ease;
          color: #fff;
          border: none;
          outline: none;
          border-radius: 15px;
          display: flex;
          height: 26px;
          align-items: center;
          justify-content: center;
          img {
            width: 14px;
          }
        }
      }
    }
  }
}

/* product gallery */
.big-gallery {
  border: 1px solid white;
  width: 100%;
  height: 415px;
  position: relative;
}
.big-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.galeri-image {
  width: 158px;
  height: 110px;
  margin-right: 10px;
  border: 2px solid white;
  display: inline-block;
}
.galeri-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-galleries {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  top: -30px;
  max-width: 494px;
}
/* Track */
.big-galleries::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
// .big-galleri-image {
//   width: auto;
//   height: auto;
// }
.big-galleries::-webkit-scrollbar-thumb {
  background: #cfd8dc;
}
.big-galleries::-webkit-scrollbar {
  width: 1px !important;
  height: 6px;
}
.search-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #bfcdd3;
  border-radius: 50%;
  position: absolute !important;
  bottom: 13px;
  right: 10px;
}
